{% extends "base.html" %}

{% block content %}

    <h1>Your Incomes</h1>

    <table id="incomes">
        <thead>
            <tr>
                <th>Name</th>
                <th>Amount</th>
                <th>Date</th>
                <th>Frequency</th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
            {% for income in incomes %}
            <tr data-id="{{ income.id }}">
                    <td class="name data">{{ income.name }}</td>
                    <td class="amount data">{{ income.amount }}</td>
                    <td class="date data">{{ income.date }}</td>
                    <td class="frequency data">{{ income.frequency }}</td>
                    <td>
                        <form action="/delete_income" method="POST" class="d-inline">
                            <input type="hidden" name="id" value="{{ income.id }}">
                            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
    </table>
<a href="/add_income" class="btn btn-primary"> + </a>

{% endblock %}
{% block income %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/income.css') }}">
{% endblock %}
</div>