.expense-form {
    background: linear-gradient(to right, rgba(230, 230, 250, 0.7), rgba(255, 240, 245, 0.7));
    padding: 20px;
    border-radius: 45px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(90%);
    animation: fadeIn 0.5s ease forwards;
    max-width: 500px;
    margin: 0 auto;
    text-transform: uppercase;
}


.form-group {
    margin-bottom: 20px;
    transition: transform 0.3s ease-in-out;
}

.form-group:hover {
    transform: translateY(-5px);
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}



.form-group input[type="text"],
.form-group input[type="date"],
.form-group input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-group input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.form-group input[type="submit"]:hover {
    background-color: orange;
    transform: translateY(-3px);
}

span.error {
    color: red;
}

.form-group input[type="text"]:focus,
.form-group input[type="date"]:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 10px #007bff;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

body {
    background: linear-gradient(to right,white,lightcyan);
}


#amount {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#amount:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 10px #007bff;
}

.add-income-link {
    display: block;
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
    color: #007bff;
    text-decoration: none;
    animation: fadeIn 0.5s ease forwards;
}

.add-income-link:hover {
    text-decoration: underline;
    color: orange;
}


