
h1 {
    background: linear-gradient(to right, #007bff, #0069d9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    animation: fadeIn 0.5s ease forwards;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.expense-form {
    background: linear-gradient(to right,lavender,lavenderblush);
    padding: 20px;
    border-radius: 45px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    animation: fadeIn 0.5s ease forwards;
    max-width: 500px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 20px;
    transition: transform 0.3s ease-in-out;
}

.form-group:hover {
    transform: translateY(-5px);
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

.form-group:hover label {
    color: #007bff; /* Change label color on hover */
}

.form-group input[type="text"],
.form-group input[type="date"],
.form-group input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add box shadow */
}

.form-group input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.form-group input[type="submit"]:hover {
    background-color: orange;
    transform: translateY(-3px);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

body {
    background: linear-gradient(to right,white,lightcyan);
}