.d-inline button[type="submit"] {
    background-color: #007bff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}



.edit,
.save,
.d-inline button[type="submit"] {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.d-inline button[type="submit"]:hover {
    background-color: green;
     transform: translateY(-3px);

}

.edit {
    background-color: #007bff;
    color: #fff;
}

.save {
    background-color: #007bff;
    color: #fff;
}

.edit:hover,
.save:hover {
    background-color: green;
    color: white;
     transform: translateY(-3px);
}


#expenses {
    width: 100%;
    margin-top: 20px;
    font-family: Arial, sans-serif;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    background-color: grey;

    border-collapse: collapse;
    animation: fadeInUp 0.5s ease forwards;
}


#expenses th {
    background-color: #343a40;
    color: #fff;
}


#expenses td {
    padding: 8px 16px;
    border-bottom: 1px solid #ddd;
}


#expenses tr:nth-child(even) {
    background-color: #f2f2f2;
}


#expenses tr:hover {
    background-color: tomato;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.5s ease;
    border-color: tomato;

}

.search-bar {
    margin-bottom: 20px;
    position: relative;
}

.input {
    width: calc(20% - 60px);
    padding: 10px 40px;
    border-radius: 25px;
    border: 1px solid #ced4da;
    transition: all .2s ease-in-out;
    outline: none;
}

.input:focus {
    width: calc(30% - 100px);
}

.search-bar input[type="submit"] {

    height: 40px;
    width: 60px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-bar input[type="submit"]:hover {
    background-color: green;
}

.dropdown {
    display: inline-block;
    position: relative;
}

.dropdown-toggle {
    padding: 8px;
    background-color: #212529;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

.dropdown-menu li {
    list-style: none;
}

.dropdown-menu li a {
    display: block;
    padding: 5px 10px;
    text-decoration: none;
    color: whitesmoke;
    transition: background-color 0.3s ease;
    border-radius: 10px;
}

.dropdown-menu li a:hover {
    background-color: #f8f9fa;
    color: #212529;
}




.pagination-container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.pagination-container a,
.pagination-container span {
    display: inline-block;
    padding: 8px 16px;
    text-decoration: none;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f9fa;
    transition: background-color 0.3s ease;
    margin: 0 5px;
}

.pagination-container a:hover {
    background-color: #007bff;
    color: #fff;
}

.pagination-container .active {
    background-color: #007bff;
    color: #fff;
    cursor: default;
    pointer-events: none;

}


@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.btn-primary:hover {
    background-color: green;
    border-color: green;
    color: white;
}

.data input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    color: rgb(204, 204, 204);
}

.data input:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px #007bff;
    color: #212529;
}



