{% extends "base.html" %}

{% block content %}

<h1>Add Income</h1>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

<form action="/add_income" method="post">
    <label for="name">Name</label><br>
    <input type="text" id="name" name="name" required><br>
    <label for="amount">Amount</label><br>
    <input type="amount" id="amount" name="amount" required><br>
    <label for="frequency">Frequency:</label><br>
    <select id="frequency" name="frequency">
        <option value="Daily">Daily</option>
        <option value="Weekly">Weekly</option>
        <option value="Monthly">Monthly</option>
        <option value="Yearly">Yearly</option>
    </select>
    <input type="submit" value="Save">
</form>

{% endblock %}