{% extends "base.html" %}

{% block content %}



<div class="container">
    <h1 class="mb-4">My Expenses</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Product</th>
                <th>Amount</th>
                <th>Category</th>
                <th>Date</th>
            </tr>
        </thead>
         <form action="/filter_expenses?name" method="POST">
                        <input type="text" id="name" name="name" placeholder="Search">
                        <input type="submit" value="Search">
                    </form>
        <tbody>
            {% for expense in expenses %}
            <tr>
                <td>{{ expense.name }}</td>
                <td>{{ expense.product }}</td>
                <td>{{ expense.amount }}</td>
                <td>{{ expense.category }}</td>
                <td>{{ expense.date }}</td>
                <td>
                        <form action="{{ url_for('edit_expenses', id=expense.id) }}" method="post">
                            <input type="text" id="name" name="name" placeholder="Edit name"><br>
                        <input type="text" id="product" name="product" placeholder="Edit product"><br>
                            <input type="" id="amount" name="amount" placeholder="Edit amount"><br>
                        <input type="text" id="category" name="category" placeholder="Edit category"><br><br>
                            <input type="date" id="date" name="date" placeholder="Date"><br>
                        <input type="submit" value="Update">
                    </form>

                    <form action="/delete_expenses" method="post" class="d-inline">
                            <input type="hidden" name="id" value="{{ expense.id }}">
                        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
            <div class="float-end"> <!-- This div will float the dropdown to the right -->
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Sort
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/filter_expenses?category=asc">A-Z</a></li>
                  <li><a class="dropdown-item" href="/filter_expenses?category=desc">Z-A</a></li>
                  <li><a class="dropdown-item" href="/filter_expenses?date=date_asc">Old Expenses</a></li>
                  <li><a class="dropdown-item" href="/filter_expenses?date=date_desc">New Expenses</a></li>
              </ul>
            </div>
        </tbody>
        </table>
</div>
<a href="/add_expense" class="btn btn-primary"> + </a>
{% endblock %}
