{% extends "base.html" %}

{% block content %}

<div class="container">
    <h1 class="mb-4">Expense Tracker</h1>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Product</th>
                <th>Amount</th>
                <th>Category</th>
                <th>Date</th>
            </tr>
        </thead>

        <tbody>
            {% for expense in expenses %}
            <tr>
                <td>{{ expense.id }}</td>
                <td>{{ expense.name }}</td>
                <td>{{ expense.product }}</td>
                <td>{{ expense.amount }}</td>
                <td>{{ expense.category }}</td>
                <td>{{ expense.date }}</td>
                <td>
                        <form action="{{ url_for('edit_expenses', id=expense.id) }}" method="post">
                            <input type="text" id="name" name="name" placeholder="Edit name"><br>
                        <input type="text" id="product" name="product" placeholder="Edit product"><br>
                            <input type="" id="amount" name="amount" placeholder="Edit amount"><br>
                        <input type="text" id="category" name="category" placeholder="Edit category"><br><br>
                            <input type="date" id="date" name="date" placeholder="Date"><br>
                        <input type="submit" value="Update">
                    </form>

                    <form action="/delete_expenses" method="post" class="d-inline">
                            <input type="hidden" name="id" value="{{ expense.id }}">
                        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}

                    <form method="POST" action="/filter_expenses">
                        <div class="container">
                            <div class="dropdown">
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="/filter_expenses?category=asc">A-Z</a>
                                    <a class="dropdown-item" href="/filter_expenses?category=desc">Z-A</a>
                                    <a class="dropdown-item" href="/filter_expenses?date=date_asc">Old</a>
                                    <a class="dropdown-item" href="/filter_expenses?date=date_desc">New</a>
                                </div>
                            </div>
                        </div>
                    </form>

              </tbody>
            </table>

    <div class="flash-messages">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="alert alert-info">
                    <ul>
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        {% endwith %}
    </div>
</div>
<a href="/add_expense" class="btn btn-primary"> + </a>

{% endblock %}
